.image {
  &-view {
    img {
      width: 100%;
      max-height: 400px;
      // &:hover {
      //   transition: 0.5s;
      //   transform: scale(1.05 , 1);
      // }
    }
  }
  &-menu-bottom {
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 2px;
    position: relative;
    img {
      width: 25%;
      border: 1px solid rgb(0 0 0 / 15%);
      &:hover {
        transition: 0.5s;
        transform: scale(1.2);
      }
    }
  }
}
