.bottom{
    height: 300px;
    background-color: black;
    margin-top: 20px;
    color: white;
    .noti{
        text-align: center;
        margin: 0 200px 0;
        padding-top: 50px;
        ul {
            list-style-type: none;
        }
    }
    .icon{
        margin: 20px 500px 0;
    }
}