.card-tour-detail{
  display: flex;
  height: 200px;
  border: 1px solid #D9D9DE;
  border-radius: 10px;
  .ctn-img{
    height: 100%;
    padding: unset;
    img{
      height: 100%;
      width: 100%;
      border-radius: 10px 0 0 10px;
    }
  }
  &:hover{
    background-color: #e4f0fa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

