.Rated {
  border: 2px solid rgb(0 0 0 / 15%);
  margin-top: 10px;
  padding: 15px;
  .star-ctn {
    margin-bottom: 30px;
    display: flex;
    .mota {
      margin-left: 5px;
      font-size: 18px;
      color: #26beda;
    }
    .numberReview {
      font-size: 15px;
      font-weight: 400;
      margin-left: 10px;
      color: #26beda;
      margin-top: 2px;
    }
  }
  .item {
    border-top: 1px solid rgb(0 0 0 / 15%);
    padding: 10px 0;
    .top{
      display: flex;
      h4{
        color: #26beda;
      }
      div{
        margin-left: 10px;
      }
    }
    .body-rate-item{

    }
  }
}
