.userNavigation{
  background-color: white;
  width: 40%;
  color: #555863;
  max-width: 400px;
  &-item{
    padding: 15px;
    border-bottom: 1px solid black;
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    &:hover{
    cursor: pointer;
    }
  }
  .active{
    color: #26bed6;
    border-bottom: 1px solid #26bed6;
  }
  .top{
    align-items: center;
    .chose-image{
      margin-left: 38%;
      margin-top: 10px;
      background-color: antiquewhite;
      padding: 5px;
    }
    .img-ctn{
      img{
      width: 360px;
      height: 360px;
      border-radius: 50%;
      margin-top: 10px;
      }
    }
    .changeImg{
      margin-left: 35%;
      border: none;
      background-color: antiquewhite;
      padding: 0 10px;
      color: rgb(54, 49, 49);
      margin-top: 10px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}