.tourDetail {
  display: block;
  &-top {
    margin: 10px 200px 10px;
    color: #003c71;
    .tour-rate {
      display: flex;
      .evaluate {
        margin-top: 6px;
        margin-left: 5px;
        margin-bottom: 10px;
        i{
          color: #f79321;
          margin: 0 10px;
        }
        color: #003c71;
      }
    }
    .company{
      font-size: 18px;
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    margin: 0 200px 0;
  }
}
@media only screen and (max-width: 850px) {
  .tourDetail {
    &-bottom {
      display: block;
      margin: 0 200px 0;
    }
  }
}
