.tourDetail {
  display: block;
  &-top {
    margin: 0 200px 0;
    color: #003c71;
    .tour-rate {
      display: flex;
      .evaluate {
        margin-top: 6px;
        margin-left: 5px;
        i{
          color: #f79321;
          margin: 0 10px;
        }
        color: #003c71;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    margin: 0 200px 0;
  }
}
