.TopBarMenu {
  background-color: white;
  color: black;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #d9d9de;
  .custom-container {
    margin: 0 100px 0;
    height: 100%;
    text-align: center;
    align-items: center;
    .middle-menu {
      color: #333333;
      .user {
        display: flex;
        .avatar {
          height: 50px;
          margin-right: 20px;
        }
        .name {
          padding-top: 12px;
          cursor: pointer;
          &:hover{
            color: #0d6efd;
          }
        }
        .dropDown {
          perspective: 1000px;
          position: absolute;
          width: 150px;
          top: 40px;
          margin-left: 50px;
          border: 1px solid #d9d9de;
          border-radius: 5px;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;
          cursor: pointer;
          background-color: #d9d9de;
          opacity: 0.7;
          .item {
            padding: 10px;
            border-bottom: 1px solid #d9d9de;
            color: #0d6efd;
            a{
              color: unset;
            }
            &:hover {
              background-color: #f79321;
              opacity: 1;
              color: white !important;
            }
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
    .login {
      float: right;
    }
    .logo {
      height: 48px;
      width: 250px;
    }
    .button-menu {
      display: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .TopBarMenu {
    .custom-container {
      .middle-menu {
        display: none;
      }
      .button-menu {
        display: block;
        width: 50px;
        height: 50px;
        background-color: aqua;
        margin-left: auto;
        padding: unset;
        .button-child {
          background: no-repeat;
          border: none;
          font-size: 32px;
          padding: unset;
          color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .TopBarMenu {
    .custom-container {
      .middle-menu {
        a {
          font-size: 17px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .TopBarMenu {
    .custom-container {
      margin: unset;
    }
  }
}
