.TopBarMenu {
  background-color: white;
  color: black;
  height: 50px;
  // position: fixed;
  .custom-container {
    margin: 0 100px 0;
    height: 100%;
    text-align: center;
    align-items: center;
  }
  .login {
    float: right;
  }
  .logo{
    height: 50px;
    width: 250px;
  }
}
